<table class="table is-bordered is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Day</th>
        <th>Cash in Hand</th>
        <th>Card</th>
        <th>Bacs/Cheque</th>
        <th>Total</th>
        <th>Till Cash</th>
        <th>Variance</th>
        <th>Charge</th>
      </tr>
    </thead>
    <tbody>
       
          <tr>
            <td><%= days[0] %> </td> 
            <td id="monCash"><%= monCash %></td>
            <td id="monCard"><%= monCard %></td>
            <td id=monCheque><%= monCheque %> </td>
            <td id="monTotal"></td>
            <td id="dailyTillCashMon"><%= monTillCash %></td>
            <td id="monVariance"></td>
            <td>£ Charge</td>
          </tr>
          <tr>
            <td><%= days[1] %> </td> 
            <td id="tueCash"><%= tueCash %></td>
            <td id="tueCard"><%= tueCard %></td>
            <td id="tueCheque"><%= tueCheque %> </td>
            <td id="tueTotal"></td>
            <td id="dailyTillCashTue"><%= tueTillCash - monTillCash %></td>
            <td id="tueVariance"></td>
            <td>£ Charge</td>
          </tr>
          <tr>
            <td><%= days[2] %> </td> 
            <td id="wedCash"><%= wedCash %></td>
            <td id="wedCard"><%= wedCard %></td>
            <td id="wedCheque"><%= wedCheque %> </td>
            <td id="wedTotal"></td>
            <td id="dailyTillCashWed"><%= wedTillCash - tueTillCash %> </td>
            <td id="wedVariance"></td>
            <td>£ Charge</td>
          </tr>
          <tr>
            <td><%= days[3] %> </td> 
            <td id="thurCash"><%= thurCash %></td>
            <td id="thurCard"><%= thurCard %></td>
            <td id="thurCheque"><%= thurCheque %> </td>
            <td id="thurTotal"></td>
            <td id="dailyTillCashThur"><%= thurTillCash - wedTillCash %></td>
            <td id="thurVariance"></td>
            <td>£ Charge</td>
          </tr>
          <tr>
            <td><%= days[4] %> </td> 
            <td id=friCash><%= friCash %></td>
            <td id="friCard"><%= friCard %></td>
            <td id="friCheque"><%= friCheque %> </td>
            <td id="friTotal"></td>
            <td id="dailyTillCashFri"><%= friTillCash - thurTillCash %></td>
            <td id="friVariance"></td>
            <td>£ Charge</td>
          </tr>
          <tr>
            <td><%= days[5] %> </td> 
            <td id="satCash"><%= satCash %></td>
            <td id="satCard"><%= satCard %></td>
            <td id="satCheque"><%= satCheque %></td>
            <td id="satTotal"></td>
            <td id="dailyTillCashSat"><%= satTillCash - friTillCash %></td>
            <td id="satVariance"></td>
            <td>£ Charge</td>
          </tr>
        
        <tr>
            <th>Total</th>
            <td id=sumCashWeek></td>
            <td id=sumCardWeek></td>
            <td id=sumChequeWeek></td>
            <td id="sumDailyTotals"></td>
            <td id="dailyTillCashTotal"></td>
            <td id="sumDailyVariance"></td>
            <td>£100</td>
          </tr>
        
    </tbody>
</table>
