<table class="table is-bordered is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Day</th>
        <th>Cash in Hand</th>
        <th>Card</th>
        <th>Bacs/Cheque</th>
        <th>Total</th>
        <th>Cash</th>
        <th>Variance</th>
        <th>Charge</th>
      </tr>
    </thead>
    <tbody>
       
          <tr>
            <td><%= days[0] %> </td> 
            <td>£ <%= monCash %></td>
            <td>£ <%= monCard %></td>
            <td>£ <%= monCheque %> </td>
            <td>£ Total</td>
            <td>£ Cash</td>
            <td>£ Variance</td>
            <td>£ Charge</td>
          </tr>
          <tr>
            <td><%= days[1] %> </td> 
            <td>£ <%= monCash %></td>
            <td>£ <%= monCard %></td>
            <td>£ <%= monCheque %> </td>
            <td>£ Total</td>
            <td>£ Cash</td>
            <td>£ Variance</td>
            <td>£ Charge</td>
          </tr>
          <tr>
            <td><%= days[2] %> </td> 
            <td>£ <%= monCash %></td>
            <td>£ <%= monCard %></td>
            <td>£ <%= monCheque %> </td>
            <td>£ Total</td>
            <td>£ Cash</td>
            <td>£ Variance</td>
            <td>£ Charge</td>
          </tr>
          <tr>
            <td><%= days[3] %> </td> 
            <td>£ <%= monCash %></td>
            <td>£ <%= monCard %></td>
            <td>£ <%= monCheque %> </td>
            <td>£ Total</td>
            <td>£ Cash</td>
            <td>£ Variance</td>
            <td>£ Charge</td>
          </tr>
          <tr>
            <td><%= days[4] %> </td> 
            <td>£ <%= monCash %></td>
            <td>£ <%= monCard %></td>
            <td>£ <%= monCheque %> </td>
            <td>£ Total</td>
            <td>£ Cash</td>
            <td>£ Variance</td>
            <td>£ Charge</td>
          </tr>
          <tr>
            <td><%= days[5] %> </td> 
            <td>£ <%= monCash %></td>
            <td>£ <%= monCard %></td>
            <td>£ <%= monCheque %> </td>
            <td>£ Total</td>
            <td>£ Cash</td>
            <td>£ Variance</td>
            <td>£ Charge</td>
          </tr>
        
        <tr>
            <th>Total</th>
            <td>£100</td>
            <td>£100</td>
            <td>£100</td>
            <td>£100</td>
            <td>£100</td>
            <td>£100</td>
            <td>£100</td>
          </tr>
        
    </tbody>
</table>
