<%- include('inc/header') %>
<div class="container">
  <div class="columns">
    <div class="column is-three-quarters">
      <h1 class="title is-2">Week Commencing: <%= date %></h1>
    </div>
    <div class="column is-one-quarter">
      <h1 class="title is-2">Week #: 23</h1>
    </div>
  </div>
<div class="columns">
    <div class="column is-half">
      <h1 class="title is-4">Income</h1>
      <%- include('inc/tables/running-income') %>
    </div>

    <div class="column">
      <h1 class="title is-4">Wages</h1>
        <%- include('inc/tables/wages') %>
    </div>

    <div class="column">
      <h1 class="title is-4">Expenses</h1>
      <%- include('inc/tables/expenses') %>
    </div>
</div>

  <div>
    <h1 class="title is-4">Income Detail</h1>
    <%- include('inc/tables/income-detail') %>
    
    <h1 class="title is-4">Weekly Totals</h1>
    <%- include('inc/tables/weekly-total') %>
  </div>


<%- include('inc/footer') %>