<%- include('inc/header') %>

<div class="container">
    <div class="columns">
        <div class="column is-three-quarters">
            <h2 class="title is-2 m-t-20">Wages</h2>
            <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Employee</th>
                        <th>Weekly Amount</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <% for(var res in employee) {%>
                        <tr>
                            <th id="<%= employee[res].id %>"><%= employee[res].name %></th>
                            <td>&pound; <%= employee[res].amount %></td>
                            <td>
                                <form action="/update/employee/<%=employee[res].id%>">
                                    <div class="control">
                                        <button class="button is-primary">Edit</button>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form  onsubmit="return confirm('Are you sure you want to delete this record?');" action="/delete/employee/<%=employee[res].id%>">
                                    <div class="control">
                                        <button class="button is-danger">Delete</button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    <% } %>
                    <tr>
                        <th>Total</th>
                        <td>£ <%= total %></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <form action="/add/employee" method="get">
                <button class="button is-link is-pulled-right">Add Employee</button>
            </form>
        </div>
    </div>
    <div class="columns">
        <div class="column is-three-quarters">
            <h2 class="title is-2 m-t-20">Expense Types</h2>
            <table class="table is-bordered is-striped is-hoverable">
                <thead>
                    <tr>
                        <th>Expense Type</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var res in expense) {%>
                        <tr>
                            <th><%= expense[res].name %></th>
                            <td>
                                <form action="/update/expense-type/<%= expense[res].id %>">
                                    <div class="control">
                                        <button class="button is-primary">Edit</button>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form onsubmit="return confirm('Are you sure you want to delete this record?');" action="/delete/expense-type/<%= expense[res].id %>">
                                    <div class="control">
                                        <button class="button is-danger">Delete</button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <form action="/add/expense-type">
                <button class="button is-link">Add Expense Type</button>
            </form>
        </div>
    </div>
</div>

<%- include('inc/footer') %>