<%- include('inc/header') %>

<div class="container">
    <div class="columns">

        <div class="column is-half">
            <h2 class="title is-2 m-t-20">Wages</h2>
            <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Employee</th>
                        <th>Weekly Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var res in employee) {%>
                        <tr>
                            <th><%= employee[res].name %></th>
                            <td>&pound; <%= +employee[res].amount %></td>
                        </tr>
                    <% } %>
                    <tr>
                        <th>Total</th>
                        <td>£100</td>
                    </tr>
                </tbody>
            </table>
            <form action="/add/employee" method="get">
                <button class="button is-primary">Add Employee</button>
            </form>
        </div>

        <div class="column is-half">
            <h2 class="title is-2 m-t-20">Expense Types</h2>
            <table class="table is-bordered is-striped is-hoverable">
                <thead>
                    <tr>
                        <th>Expense Type</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var res in expense) {%>
                        <tr>
                            <th><%= expense[res].name %></th>
                            <td>
                                <div class="control">
                                    <button class="button is-text">Edit</button>
                                </div>
                            </td>
                        </tr>
                    <% } %>
                    <tr>
                        <th>Total</th>
                        <td>£100</td>
                    </tr>
                </tbody>
            </table>
            <form action="/add/expense-type">
                <button class="button is-primary">Add Expense Type</button>
            </form>
        </div>
    </div>
</div>

<%- include('inc/footer') %>