<%- include('../inc/header') %>

<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <h1 class="title is-title">Add Expense</h1>
        </div>
    </div>

    <div class="columns is-centered">
        <div class="column is-half">
            <form action="/add/expense" method="post">
                <div class="field">
                    <label for="date" class="label">Date</label>
                    <div class="control">
                        <input name="date" id="date" class="input" type="date" >
                    </div>
                </div>
               
                
                <div class="select">
                    <select class ="select" name="expenseType">
                        <option>Select dropdown</option>
                        <% for (var el in expense)  { %>
                            <option name="<%= expense[el].id %>" value="<%= expense[el].id %>"><%= expense[el].name %></option>
                        <% } %>
                    </select>
                </div>
                <div class="field">
                    <label for="name" class="label">Amount</label>
                    <div class="control">
                        <input name="amount" id="amount" class="input" type="text" placeholder="Amount">
                    </div>
                <div class="field is-grouped is-pulled-right">
                    <div class="control m-t-20">
                        <button class="button is-success" type="submit">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


<%- include('../inc/footer') %>