<%- include('../inc/header') %>

<div class="container">
    <h1 class="title is-title">Update Employee</h1>
</div>

<div class="columns is-centered">
    <div class="column is-half">
        <form action="/update/employee/<%=id%>" method="post">
            <div class="field">
                <label for="name" class="label">Employee Name</label>
                <div class="control">
                    <input name="name" id="name" class="input" type="text" value="<%= name %>">
                </div>
            </div>
            <div class="field">
                <label for="amount" class="label">Weekly Amount</label>
                <div class="control">
                    <input name="amount" id="amount" class="input" type="text" value="<%= amount %>">
                </div>
            </div>
            <div class="field is-grouped is-pulled-right">
                <div class="control">
                    <button class="button is-link" type="submit">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>


<%- include('../inc/footer') %>